<app-page-header
  title="contacts"
  icon="bi bi-people-fill"
  description="company employees
  details"
></app-page-header>

<div class="row mt-4">
  <div class="col-3">
    <input
      [(ngModel)]="input"
      type="text"
      class="form-control"
      placeholder="Search contact by name"
    />
  </div>

  <table
    *ngIf="contacts.length; else noContacts"
    class="table table-bordered align-middle mt-3"
  >
    <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Email</th>
        <th>Birthdaay</th>
        <th>Phones</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let contact of contacts | contactsFilter: 'name':input;
          index as index
        "
      >
        <td>{{ index + 1 }}</td>
        <td>{{ contact.name }}</td>
        <td>
          <a [href]="'mailto:' + contact.email">
            {{ contact.email | lowercase }}
          </a>
        </td>
        <td>{{ contact.birthday | date: "dd/MM/yyyy" }}</td>
        <td>
          <ul *ngIf="contact.phones.length; else noPhones">
            <li *ngFor="let phone of contact.phones">
              <a [href]="'tel:' + phone">{{ phone }}</a>
            </li>
          </ul>
          <ng-template #noPhones>
            <p><i>No Listed Phone Numbers </i></p>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noContacts>
    <p><i>no contacts</i></p>
  </ng-template>
</div>
